#homePageCards {
  padding: $padding-stock;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;

  .homePageCard {
    border: $border-thin;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    height: 30rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-size: $font-size-large;
      margin: 0;
      margin-bottom: 1rem;
    }

    a {
      position: relative;
      width: 100%;
      height: 100%;

      img {
        object-fit: contain;
      }
    }

  }

}