.searchBar {}

.libraryBooks {
  // border: 2px solid black;
  margin: 0.4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  gap: 2rem;
}