.libraryPage {
  width: 100%;

  .libraryPageHeader {
    text-align: center;
  }

  .librarySearchBar {
    padding: $padding-stock;
    display: flex;
    justify-content: center;

    label {
      display: none;
    }

    input {
      font-size: $font-size-xxlarge;
    }

    button {
      margin-left: $margin-stock;
      font-size: $font-size-xxlarge;
      display: flex;
      align-items: center;
    }

  }

  .libraryBooks {
    padding: $padding-stock;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    gap: 2rem;

    .libraryBookCard {
      border: $border-stock;
      border-radius: $border-radius-xlarge;
      background-color: $color-library-book-background;
      padding: $padding-stock;
      width: 18rem;
      height: 24rem;
      display: flex;

      h3 {
        display: none;
        border: $border-thin;
        font-size: $font-size-stock;
        text-align: center;
        margin: 0;
        margin-bottom: $margin-thin;
      }

      a {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
          border: $border-stock;
          border-radius: $border-radius-xlarge;
          background-color: #ffffff;
          padding: $padding-thin;

          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }

    }
  }
}
