.libraryPage {
  border: 2px solid black;

  .librarySearchBar {
    // border: 4px solid black;
    padding: $padding-stock;
    display: flex;
    justify-content: center;

    label {
      display: none;
    }

    input {
      font-size: $font-size-stock;
    }

  }

  .libraryBooks {
    border: $border-stock;
    max-height: 80vh;
    overflow-y: scroll;
    padding: $padding-stock;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    gap: 2rem;


    .libraryBook {
      border: $border-stock;
      border-radius: 0.8rem;
      background-color: $background-color;
      padding: $padding-stock;
      height: 24rem;
      width: 16rem;
      display: flex;
      flex-direction: column;

      h3 {
        // display: none;
        text-align: center;
      }

      a {
        position: relative;
        width: 100%;
        height: 100%;

        img {
          object-fit: contain;
        }
      }

    }
  }
}


// react_devtools_backend.js:2655 Image with src 
// "https://www.gutenberg.org/cache/epub/6761/pg6761.cover.medium.jpg" 
// has "fill" and parent element with invalid "position". 
// Provided "static" should be one of absolute,fixed,relative.