
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $color-background;
  margin: 0;
  height: 100vh;
  font-family: $page-font;
  font-size: 100%;
}

#__next {
  height: 100%;
}

main {
  background-color: $color-background;
  height: 100%;
  display: flex;
  gap: $gap-stock;
}

button {
  svg {
    pointer-events: none;
  }
}

button:hover,
button:focus {
  cursor: pointer;
  color: $color-active;
}

#page-container {
  margin-top: 4rem;
}

#page-header {
  text-align: center;
}

footer {
  border: $border-stock;
  text-align: center;
  font-size: $font-size-large;
  bottom: 0;
  width: 100%;
}