html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  // font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: white;
  // margin: 0;
}

main {
  // border: 4px solid black;
  // display: flex;
}


.page-container {
  border: 4px solid black;
  // height: 80rem;
}

.page-header {
  border: 4px solid blue;
  // width: 100%;
  text-align: center;
  // margin: auto;
}

.page-content {
  border: 4px solid blue;
  height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.site-cards {
  display: flex;
  gap: 2rem;
}

#search-bar {
  border: 4px solid black;
  padding: 1rem;
  display: flex;
  align-items: center;
}

#library-books-container {
  border: 4px solid black;
  margin: 0.5rem;

  .library-book-div {
    border: 4px solid black;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}