html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: $font-Inter;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: white;
  margin: 0;
}

main {}

.page-container {
  margin-top: 4rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.page-header {
  text-align: center;
  font-size: $page-header-size;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage-cards {
  display: flex;
  gap: 10rem;
}

#search-bar {
  border: 4px solid black;
  padding: 1rem;
  display: flex;
  align-items: center;
}

#library-books {
  border: 4px solid black;
  margin: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}