.navbar {
  border: $border-stock;
  padding: $padding-stock;
  background-color: $color-navbar-background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  a {
    text-decoration: none;
    color: $color-font;
  }

  .navBrand {
    margin-left: 2rem;
    font-size: $font-size-xxlarge;
    font-weight: bold;
  }

  .navMenu {
    margin-right: 2rem;

    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      gap: 2rem;
    }

    li {
      font-size: $font-size-xlarge;
      font-weight: bold;
      color: $color-font;
    }
  }

}